#playPauseButton {
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 50px;
  border-radius: 100%;
  background-color: #565656aa;
  border: none;
  width: 40px;
  height: 40px;
  z-index: 100;
  &:hover {
    background-color: #787878aa;
  }
  @media (max-width: 600px) {
    top: 32px;
    right: 32px;
  }
}

.home {
  width: 100%;
  position: absolute;
  height: 100lvh;
  box-sizing: border-box;
  padding: 0 68px;
  display: flex;
  flex-direction: column;
  @media (max-width: 600px) {
    padding: 0 32px;
  }
}

canvas {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 110% !important;
  box-sizing: border-box;
}

.grid__item:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.subtitle-container {
  display: flex;
  justify-content: flex-end;
}

.subtitle {
  margin-top: 100px;
  width: 500px;
}

.home-title {
  margin-top: 100px;
  max-width: 1000px;
  width: 100%;
  mix-blend-mode: exclusion;
}

.spacer {
  flex-grow: 1;
}

.nav {
  margin-top: 24px;
  display: flex;
  gap: 50px;
  height: 200px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.tab-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  @media (max-width: 600px) {
    flex-direction: row;
  }
}

.nav button[role="tab"],
.nav a {
  border: unset;
  background-color: unset;
  color: unset;
  display: inline-flex;
  padding-left: 10px;
  font-size: 16px !important;
  font-weight: 800;
  position: relative;
  color: #949494;
}

.nav [role="tab"][aria-selected="true"] {
  color: #ffffff;
  &::after {
    position: absolute;
    left: 0;
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: rgb(224, 20, 20);
  }
}

.tab-panel {
  // height: 100%;
  // overflow-y: scroll;
}

.post-list {
  margin-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  // gap: $spacing-unit;
}

.post-meta {
  font-size: $small-font-size;
  font-weight: 400;
  width: 100px;
  flex-shrink: 0;
  // color: $brand-color;
  @media (max-width: 600px) {
    font-size: 12px;
    width: 80px;
  }
}

.post-link {
  display: inline-flex;
  gap: 12px;
  font-size: 16px !important;
  font-weight: 800;
  color: #949494 !important;
  &:hover {
    color: #ffffff !important;
  }
  font-size: $small-font-size;
  margin-bottom: 10px !important;
  // @include relative-font-size(1.5);
  width: 100%;
  @media (max-width: 600px) {
    justify-content: space-between;
    gap: 16px;
    flex-direction: row-reverse;
  }
}

// POST
article {
  max-width: 800px;
}

.post-wordmark {
  margin-top: 50px;
  max-width: 500px;
  margin-bottom: 50px;
}
