:root {
  --black-100: #000000ff;
  --black-90: #000000e6;
  --black-80: #000000cc;
  --black-70: #000000b3;
  --black-60: #00000099;
  --black-50: #00000080;
  --black-40: #00000066;
  --black-30: #0000004d;
  --black-20: #00000033;
  --black-10: #0000001a;

  --white-100: #ffffffff;
  --white-90: #ffffffe6;
  --white-80: #ffffffcc;
  --white-70: #ffffffb3;
  --white-60: #ffffff99;
  --white-50: #ffffff80;
  --white-40: #ffffff66;
  --white-30: #ffffff4d;
  --white-20: #ffffff33;
  --white-10: #ffffff1a;
  --white-05: #ffffff0d;
  --white-02: #ffffff05;

  --accent-color-base: 28, 69, 144;
  --accent-color: rgba(var(--accent-color-base), 1);
  --accent-color-90: rgba(var(--accent-color-base), 0.9);
  --accent-color-80: rgba(var(--accent-color-base), 0.8);
  --accent-color-70: rgba(var(--accent-color-base), 0.7);
  --accent-color-60: rgba(var(--accent-color-base), 0.6);
  --accent-color-50: rgba(var(--accent-color-base), 0.5);
  --accent-color-40: rgba(var(--accent-color-base), 0.4);
  --accent-color-30: rgba(var(--accent-color-base), 0.3);
  --accent-color-20: rgba(var(--accent-color-base), 0.2);
  --accent-color-10: rgba(var(--accent-color-base), 0.1);
  --accent-color-05: rgba(var(--accent-color-base), 0.05);
  --accent-color-02: rgba(var(--accent-color-base), 0.02);
  --accent-color-link: rgb(30 144 255); // TODO configurable
  --accent-color-link-hover: rgb(21 96 171); // TODO configurable
  --link-decoration: none; // configurable

  // TODO make tokens consuming palette
  --text-primary: var(--white-90);
  --text--secondary: var(--white-70);

  --border-radius: 6px;
}

::selection {
  background: var(--accent-color-40);
}

main {
  transition: all 500ms;
}

#theme-button-wrapper {
  background-color: var(--accent-color-50);
  position: fixed;
  --size: 28px;
  border-radius: 50%;
  border: 3px solid var(--black-40);
  position: fixed;
  bottom: 0;
  left: 0;
  height: var(--size);
  width: var(--size);
  --offset: 20px;
  left: var(--offset);
  bottom: var(--offset);
  transition: transform 200ms, border 200ms;
  &:hover {
    transform: scale(1.1);
    border: 3px solid var(--white-10);
  }
  & > #theme-button {
    opacity: 0;
    display: block;
    width: var(--size);
    height: var(--size);
    border: none;
  }
  &::before {
    content: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" width="18" height="18" stroke="white"><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="12" y1="0.5" x2="12" y2="2.42"></line><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="12" y1="21.58" x2="12" y2="23.5"></line><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="23.5" y1="12" x2="21.58" y2="12"></line><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="2.42" y1="12" x2="0.5" y2="12"></line><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="12" y1="0.5" x2="12" y2="2.42"></line><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="12" y1="21.58" x2="12" y2="23.5"></line><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="23.5" y1="12" x2="21.58" y2="12"></line><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="2.42" y1="12" x2="0.5" y2="12"></line><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="20.13" y1="3.87" x2="18.78" y2="5.22"></line><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="5.22" y1="18.78" x2="3.87" y2="20.13"></line><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="20.13" y1="20.13" x2="18.78" y2="18.78"></line><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="5.22" y1="5.22" x2="3.87" y2="3.87"></line><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="20.13" y1="3.87" x2="18.78" y2="5.22"></line><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="5.22" y1="18.78" x2="3.87" y2="20.13"></line><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="20.13" y1="20.13" x2="18.78" y2="18.78"></line><line class="cls-637b8b31f95e86b59c57a2a1-1" x1="5.22" y1="5.22" x2="3.87" y2="3.87"></line><circle fill="none" cx="12" cy="12" r="6.71"></circle></svg>');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
  }
}

.gravatar {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 16px;
  color: var(--black-80);

  .gravatar-status {
    display: flex;
    flex-direction: column;
  }

  .gravatar-status_meta {
    font-weight: 300;
    font-size: 15px;
    color: var(--text--secondary);
    margin-bottom: 8px;
  }

  .gravatar-status_status {
    font-family: "Inter";
    // font-size: 13px;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    color: var(--text-primary);
  }

  .gravatar-status_all-statuses {
    cursor: pointer;
    font-size: 12px;
    color: var(--accent-color);
    width: fit-content;

    &:hover {
      color: var(--accent-color-link-hover);
    }
  }
}

.flip-card {
  flex-shrink: 0;
  background-color: transparent;
  width: 52px;
  height: 52px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 50%;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%; /* Ensures both sides are circular */
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.hero-container {
  border-radius: 15px;
  transition: transform 300ms;
  perspective: 1000px;
  transform-style: preserve-3d;
  // box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--white-20);

  &.mousemove {
    transition: none !important;

    h1 {
      transform: translateZ(20px);
    }
  }

  .glare {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    border-radius: inherit;
    pointer-events: none;
  }

  .hero {
    display: flex;
    background-image: linear-gradient(
      30deg,
      var(--accent-color-05) 0%,
      var(--white-05) 100%
    );
    transform-style: preserve-3d;
    border-radius: inherit;

    .profile-picture {
      flex-shrink: 1;
      max-width: 200px;
      position: relative;
      margin-bottom: 0;
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;

      .profile-picture_img {
        aspect-ratio: 1;
        object-fit: cover;
        height: 100%;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
      }
    }

    .hero_text-container {
      flex-grow: 1;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 12px;
      transform-style: preserve-3d;

      h1 {
        transition: transform 300ms;
        margin-bottom: unset;
        color: var(--white-80);
      }

      span.glow {
        color: var(--white-90);
        margin-bottom: unset;
        text-shadow: 0 0 8px var(--accent-color-link);
      }

      p {
        margin-bottom: unset;
      }
    }
  }
}

@media (max-width: 800px) {
  .hero_text-container {
    padding: 20px !important;
  }
  .profile-picture {
    display: none;
  }
}

.button-round {
  all: unset;
  display: inline-block;
  cursor: pointer;
  padding: 6px 12px;
  background-color: var(--accent-color-40);
  border-radius: 200px; // pill
  width: fit-content;
  color: var(--text-primary);
  transition: transform 100ms, color 100ms, border 100ms;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  user-select: none;
  font-size: 12px;
  gap: 6px;

  &:hover {
    text-decoration: none;
    transform: scale(1.07);
  }
}

.stack {
  list-style: disc;
  margin-left: 0;

  li {
    margin-bottom: 16px;
  }
}

.primary-action {
  background-color: var(--accent-color-50);
  color: var(--text-primary) !important;
}

.secondary-action {
  margin-left: 8px;
  background-color: unset;
  border: 1px solid var(--accent-color-50);
  color: var(--text-primary) !important;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-16px) scale(0.75);
    transform-origin: bottom left;
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
    transform-origin: bottom left;
  }
}

.about {
  margin-bottom: 45px;
  animation: fadeInUp 1000ms forwards;
}

@keyframes grow {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.dropdown-menu {
  position: relative;
  user-select: none;

  button {
    all: unset;
    cursor: pointer;
    padding: 2px 8px;
    margin: -2px 0px;
    border-radius: var(--border-radius);
    color: var(--accent-color-link);
    border: 1px solid var(--accent-color-link);
    transition: transform 100ms, color 100ms, border 100ms;
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    user-select: none;

    &:hover {
      color: var(--accent-color-link-hover);
      border: 1px solid var(--accent-color-link-hover);
      text-decoration: none;
      transform: scale(1.03);
    }
  }

  &:focus-within .dropdown-content {
    display: flex;
  }

  &:focus-within button {
    color: var(--accent-color-link-hover);
    border: 1px solid var(--accent-color-link-hover);
    text-decoration: none;
    transform: scale(1.03);
  }

  .dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--black-40);
    backdrop-filter: blur(18px);
    border-radius: var(--border-radius);
    color: var(--text-primary);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
    animation: grow 200ms;

    --offset: 4px;

    &[data-position="bottom-right"] {
      top: calc(100% + var(--offset));
      right: 0;
      transform-origin: top right;
    }

    &[data-position="bottom-left"] {
      top: calc(100% + var(--offset));
      left: 0;
      transform-origin: top left;
    }

    a {
      padding: 8px 16px;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      gap: 12px;
      border-bottom: 1px solid var(--accent-color-30);
      &:last-of-type {
        border-bottom: none;
      }

      &:hover {
        background-color: var(--black-40);
      }
    }
  }
}

.bottom-drawer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 100px;
  padding-bottom: 30px;
  background-image: linear-gradient(to top, black 30%, rgba(0, 0, 0, 0) 100%);
  z-index: 100;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 400ms; // TODO
  &[open] {
    transform: translateY(0);
  }

  & .bottom-drawer-content {
    width: calc(#{$content-width} - (#{$spacing-unit}));
    min-width: 360px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit * 0.5;
    padding-left: $spacing-unit * 0.5;
    @extend %clearfix;

    @media screen and (min-width: $on-large) {
      max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
      padding-right: $spacing-unit;
      padding-left: $spacing-unit;
    }
  }
}

.terminal {
  height: 28px;
  border: none;
  font-family: "Ubuntu Mono";
  cursor: text;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: var(--border-radius);
  caret-color: transparent;
  border-bottom: 1px solid transparent;
  font-size: 1.1em;
  background-color: #46464699;
  transition: transform 100ms;
  backdrop-filter: blur(6px);
  margin-bottom: unset;
  &:hover {
    background-color: var(--white-30);
    transform: scale(1.02);
  }

  &:focus-within {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--white-20);
    border-bottom: 1px solid var(--white-50);

    & .cursor {
      display: inline;
    }

    & .input-mirror {
      color: var(--text-primary);
    }
  }

  @media screen and (max-width: 800px) {
    transition: none;
    &:hover {
      transform: none;
    }
  }
}

.system-prompt {
  margin-right: 16px;
  user-select: none;
  color: #ffffffdd; // TODO
}

.input-container {
  display: flex;
  position: relative;
}

.prompt {
  position: absolute;
  left: -9999px; /* Hide the input off-screen */
}

.input-mirror {
  white-space: pre;
  color: #ffffffdd;
}

.cursor {
  display: none;
  animation: blink 1s steps(1) infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  7% {
    transform: scale(1);
    opacity: 1;
  }
  85% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.unread-badge {
  background-color: #b81a1a;
  border-radius: 100%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: -4px;
  right: -8px;
  opacity: 0;
}

.unread-badge.show {
  opacity: 1;
  animation: pulse 5000ms ease infinite;
}

.stdout-entry {
  font-family: "Ubuntu Mono";

  & .stdout-entry-wrapper {
    padding: 8px;
    margin: -8px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: var(--border-radius);

    & .stdout-command {
      color: #ffffff7d;
      font-size: 0.9em;
    }

    & .stdout-timestamp {
      font-size: 0.85em;
      font-weight: 400;
      color: #a8a8a8;
      width: 100px;
      flex-shrink: 0;
      @media (max-width: 800px) {
        font-size: 12px;
        width: 80px;
      }
    }

    & .stdout-output {
      color: #ffffffdb;
    }
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 4px;

    h1 {
      margin-bottom: unset;
      line-height: 1;
    }
  }

  .domain {
    color: var(--white-50);
    line-height: 1.3;
    font-family: "Ubuntu Mono";
  }

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
  }
}

a .domain {
  font-size: 16px;
  line-height: 1;
  font-family: "Ubuntu Mono";
}

// TABS
.tab-container {
  & > div {
    flex-direction: column;
    display: flex;
  }
}

[role="tablist"] {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 0;
  padding-top: 20px;
  height: 33px;
  margin: 0;
  list-style: none;
  margin-bottom: 16px;
  border-bottom: 1px solid #ffffff51;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-20px) translateY(1px);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(1px);
  }
}

.github-status-container {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-top: 20px;
  margin-top: auto;
}

.github-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
  background-color: #0eaa52dc;
  animation: pulse 6s 2;
  border: 2px solid #095d2eb2;
}

#github-status {
  line-height: normal;
  font-size: 11px;
  color: var(--text--secondary);
}

[role="tab"] {
  all: unset;
  bottom: -1px;
  cursor: pointer;
  border: none;
  font-size: 1em;
  padding: 0px 0px 8px 0px;
  transition: border-color 0.2s, font-weight 0.2s;
  border-bottom: 1px solid transparent;
  gap: 10px;
  align-items: center;
  transform: translateY(1px);
  color: var(--text--secondary);
  min-width: 60px;
  display: flex;
  justify-content: center;
  user-select: none;

  &:hover {
    color: #ffffffed;
    border-color: var(--white-50);
    font-weight: 400;

    & svg {
      stroke-width: 2px;
    }
  }

  &[hidden] {
    display: none;
  }

  &:not([hidden]) {
    display: flex;
  }

  &[aria-selected="true"] {
    font-weight: 600;
    color: var(--text-primary);
    border-color: var(--white-80);

    & svg {
      stroke-width: 3px;
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.tab-panel-content {
  display: flex;
  flex-direction: column;
  gap: 38px;
  list-style: none;
  margin: 0;

  > * {
    opacity: 0;
    animation: fadeInUp 500ms forwards;
    animation-delay: calc(0.065s * var(--i));
  }

  @for $i from 1 through 100 {
    > :nth-child(#{$i}) {
      --i: #{$i};
    }
  }
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  @media (max-width: 800px) {
    margin-top: 12px;
  }
}

nav > a {
  border: unset;
  background-color: unset;
  display: inline-flex;
  font-size: 16px !important;
  font-weight: 400;
  position: relative;
  text-decoration: var(--link-decoration);
  color: var(--accent-color-link);
  &:hover {
    color: var(--accent-color-link-hover);
  }
}

.year-divider {
  color: #ffffffab;
  font-size: 1em;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: -20px;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: #ffffff11;
    width: calc(100% - 50px);
    left: 50px;
    top: 50%;
  }
}

.post-meta {
  font-size: 0.75em;
  font-weight: 400;
  color: var(--text--secondary);
  width: 100px;
  flex-shrink: 0;
  @media (max-width: 800px) {
    font-size: 12px;
    width: 80px;
  }
}

.post-tags {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
}

.post-title-list {
  font-size: 20px;
}

.post-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.8em;
  color: var(--text--secondary);
  font-weight: 400;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  margin-top: 4px;
}

.post-tag {
  align-items: center;
  display: flex;
  gap: 4px;
  color: var(--text--secondary);
  & * {
    border-radius: 0;
  }
}

.link-item {
  padding-left: 0;
  width: 100%;
  color: var(--text-primary) !important;
  font-size: $small-font-size;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 8px;
  margin: -8px;
  border-radius: var(--border-radius);

  & .link-item-left {
    gap: 0px;
    flex-direction: column;
    display: inline-flex;
    font-size: 16px !important;
    font-weight: 500;
  }

  &:hover {
    color: #ffffff !important;
    text-decoration: none;
    background-color: var(--white-05);
    backdrop-filter: blur(10px);
  }

  &::after {
    content: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" width="24" height="24" color="%23ffffff"><defs><style>.cls-63ce7424ea57ea6c8380058e-1{fill:none;stroke:currentColor;stroke-miterlimit:10;}</style></defs><line class="cls-63ce7424ea57ea6c8380058e-1" x1="21.5" y1="12" x2="0.5" y2="12"></line><polyline class="cls-63ce7424ea57ea6c8380058e-1" points="13.86 4.36 21.5 12 13.86 19.64"></polyline></svg>');
    position: absolute;
    right: 5px;
    top: 55%;
    transform: translateY(-50%);
    transform-origin: left;
    padding: 8px;
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }
}

article {
  max-width: 800px;
}

.wrapper {
  padding-top: 30px;
  padding-bottom: 80px;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  --gradient-top-offset: 0;
  &:before {
    content: "";
    position: fixed;
    top: var(--gradient-top-offset);
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgb(0, 0, 0) 100%),
      linear-gradient(30deg, rgb(0, 0, 0) 20%, var(--accent-color) 100%);
    z-index: -100;
    animation: fadeInAndDown 1000ms forwards;
    opacity: 0;
  }
}

@keyframes fadeInAndDown {
  0% {
    opacity: 0.5;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.post-content img {
  border-radius: var(--border-radius);
  background-color: var(--white-100);
}

.copy-button {
  all: unset;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  background-color: var(--white-10);
  color: #e8e8e8;
  display: flex;
  border-radius: var(--border-radius);
  &:hover {
    background-color: var(--white-20);
  }
}

.ripple-container {
  position: relative;
  overflow: hidden;

  & .ripple {
    background: var(--white-10);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    animation: ripple 500ms linear;
  }
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    width: var(--ripple-size);
    height: var(--ripple-size);
    opacity: 0; /* Fades out */
  }
}

@keyframes echo {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 0;
  }
  20% {
    transform: scale(2) rotate(5deg);
    opacity: 1;
  }
  15% {
    transform: scale(2) rotate(-5deg);
    opacity: 1;
  }
  25% {
    transform: scale(2) rotate(5deg);
    opacity: 1;
  }
  35% {
    transform: scale(2) rotate(-5deg);
    opacity: 1;
  }
  45% {
    transform: scale(2) rotate(5deg);
    opacity: 1;
  }
  55% {
    transform: scale(2) rotate(-5deg);
    opacity: 1;
  }
  65% {
    transform: scale(2) rotate(5deg);
    opacity: 1;
  }
  75% {
    transform: scale(2) rotate(-5deg);
    opacity: 1;
  }
  90% {
    transform: scale(2) rotate(5deg);
    opacity: 1;
  }
  100% {
    transform: scale(2.2) rotate(0deg);
    opacity: 0;
  }
}

.oval {
  position: absolute;
  padding: 8px 16px;
  background-color: var(--accent-color);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  animation: echo 2s ease-out;
  max-width: calc(100vw - 100px);
  max-height: calc(100vh - 100px);
}

.window-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0) 100px);
}

body.modal-open {
  overflow: hidden;
}

// MODAL

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--black-50);
  animation: fadeIn 200ms;
}

.modal-content {
  background-color: var(--black-80);
  color: var(--text-primary);
  border-radius: 6px;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.ping-input {
  color: var(--text-primary);

  &:focus {
    outline: none;
  }
}

.recede {
  transform: scale(0.9) translateY(50px);
  transform-origin: center 300px;
  opacity: 0.65;
  filter: blur(8px);
  pointer-events: none;
}

.ping-drawer-content {
  font-size: 16px;
  color: var(--text-primary);
}
