// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

* {
    font-family: 'Roboto Mono', monospace;
}

p {
    font-weight: 100;
    font-family: Arial, sans-serif;
}

p > * {
    font-family: Arial, sans-serif;
}

span.post-meta {
    font-size: 16px;
}

li.animate {
    overflow: hidden;
}

li.animate > div {
    opacity: 0;
    transform: translate(0, 50%);
    animation: reveal 600ms ease-in-out forwards;
}

li.animate:nth-child(1) > div { animation-delay: 0ms; }
li.animate:nth-child(2) > div { animation-delay: calc(1 * 75ms); }
li.animate:nth-child(3) > div { animation-delay: calc(2 * 75ms); }
li.animate:nth-child(4) > div { animation-delay: calc(3 * 75ms); }
li.animate:nth-child(4) > div { animation-delay: calc(4 * 75ms); }

@keyframes reveal {
    0% {
      transform: translate(0, 50px);
      opacity: 0;
    }
    100% {
      transform: translate(0,0);
      opacity: 100%;
    }
  }

