<!DOCTYPE html>

{%- include head.html -%}

<meta name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
<html lang='{{ page.lang | default: site.lang | default: " en" }}'>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
</head>

<body>
  <main class="wrapper">
    {{ content }}
  </main>
  <script src="{{ 'assets/js/devToolsGreeting.js' | relative_url }}"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="{{ 'assets/js/scrollReveal.js' | relative_url }}"></script>
</body>

</html>
