---
layout: base
---

{% assign posts = site.posts %} {% assign notes = site.notes | sort: 'date' |
reverse %} {% assign tag_icons = site.data.tag_icons %}

<main>
  <div class="header">
    <div class="title-container">
      <h1 class="ml10">
        <span class="text-wrapper">
          <span class="letters">Karson Kalt</span>
        </span>
      </h1>
      <span class="domain">.dev</span>
    </div>
    <nav class="nav">
      <a href="http://www.github.com/karsonkalt" target="_blank"> GitHub </a>
      <a href="https://www.linkedin.com/in/kaltkarson/" target="_blank">
        LinkedIn
      </a>
      <div class="dropdown-menu" tabindex="0">
        <button
          id="contact-button"
          aria-haspopup="true"
          aria-expanded="false"
          aria-controls="contact-menu"
        >
          Contact
          <svg
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M5 8L12 15L19 8H5Z" />
          </svg>
        </button>
        <div
          id="contact-menu"
          class="dropdown-content"
          aria-labelledby="contact-button"
          role="menu"
          data-position="bottom-right"
        >
          <a href="mailto:kars.kalt@gmail.com" role="menuitem"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              width="14"
              height="14"
              stroke="currentColor"
              fill="none"
            >
              <defs>
                <style>
                  .cls-6374f8d9b67f094e4896c64c-1 {
                    fill: none;
                    stroke: currentColor;
                    stroke-miterlimit: 10;
                  }
                </style>
              </defs>
              <rect
                class="cls-6374f8d9b67f094e4896c64c-1"
                x="1.5"
                y="4.36"
                width="21"
                height="15.27"
              ></rect>
              <polyline
                class="cls-6374f8d9b67f094e4896c64c-1"
                points="1.5 4.36 12 14.86 22.5 4.36"
              ></polyline></svg
            >Email</a
          >
          <a
            href="https://cal.com/karsonkalt/15min"
            target="_blank"
            role="menuitem"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              width="14"
              height="14"
              stroke="currentColor"
              fill="none"
            >
              <defs>
                <style>
                  .cls-6374f8d9b67f094e4896c61a-1 {
                    fill: none;
                    stroke: currentColor;
                    stroke-miterlimit: 10;
                  }
                </style>
              </defs>
              <rect
                class="cls-6374f8d9b67f094e4896c61a-1"
                x="1.48"
                y="3.37"
                width="21.04"
                height="4.78"
              ></rect>
              <rect
                class="cls-6374f8d9b67f094e4896c61a-1"
                x="1.48"
                y="8.15"
                width="21.04"
                height="14.35"
              ></rect>
              <line
                class="cls-6374f8d9b67f094e4896c61a-1"
                x1="5.3"
                y1="12.93"
                x2="7.22"
                y2="12.93"
              ></line>
              <line
                class="cls-6374f8d9b67f094e4896c61a-1"
                x1="9.13"
                y1="12.93"
                x2="11.04"
                y2="12.93"
              ></line>
              <line
                class="cls-6374f8d9b67f094e4896c61a-1"
                x1="12.96"
                y1="12.93"
                x2="14.87"
                y2="12.93"
              ></line>
              <line
                class="cls-6374f8d9b67f094e4896c61a-1"
                x1="16.78"
                y1="12.93"
                x2="18.7"
                y2="12.93"
              ></line>
              <line
                class="cls-6374f8d9b67f094e4896c61a-1"
                x1="16.78"
                y1="17.72"
                x2="18.7"
                y2="17.72"
              ></line>
              <line
                class="cls-6374f8d9b67f094e4896c61a-1"
                x1="5.3"
                y1="17.72"
                x2="7.22"
                y2="17.72"
              ></line>
              <line
                class="cls-6374f8d9b67f094e4896c61a-1"
                x1="9.13"
                y1="17.72"
                x2="11.04"
                y2="17.72"
              ></line>
              <line
                class="cls-6374f8d9b67f094e4896c61a-1"
                x1="12.96"
                y1="17.72"
                x2="14.87"
                y2="17.72"
              ></line>
              <line
                class="cls-6374f8d9b67f094e4896c61a-1"
                x1="6.26"
                y1="0.5"
                x2="6.26"
                y2="5.28"
              ></line>
              <line
                class="cls-6374f8d9b67f094e4896c61a-1"
                x1="12"
                y1="0.5"
                x2="12"
                y2="5.28"
              ></line>
              <line
                class="cls-6374f8d9b67f094e4896c61a-1"
                x1="17.74"
                y1="0.5"
                x2="17.74"
                y2="5.28"
              ></line></svg
            >Set up a chat</a
          >
        </div>
      </div>
    </nav>
  </div>

  <div class="tab-container">
    <div>
      <div role="tablist">
        <button
          role="tab"
          id="about"
          aria-controls="tab-panel-4"
          aria-selected="true"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            width="12"
            height="12"
            fill="none"
          >
            <circle cx="12" cy="7.25" r="5.73" stroke="currentColor"></circle>
            <path
              stroke="currentColor"
              d="M1.5,23.48l.37-2.05A10.3,10.3,0,0,1,12,13h0a10.3,10.3,0,0,1,10.13,8.45l.37,2.05"
            ></path>
          </svg>
          About
        </button>
        <button
          role="tab"
          id="blog"
          aria-controls="tab-panel-2"
          aria-selected="false"
          tabindex="0"
        >
          <svg
            id="Layer_1"
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            width="12"
            height="12"
            fill="currentColor"
          >
            <defs>
              <style>
                .cls-6374f8d9b67f094e4896c640-1 {
                  fill: none;
                  stroke: currentColor;
                  stroke-miterlimit: 10;
                }
              </style>
            </defs>
            <line
              class="cls-6374f8d9b67f094e4896c640-1"
              x1="0.5"
              y1="1.46"
              x2="23.5"
              y2="1.46"
            ></line>
            <line
              class="cls-6374f8d9b67f094e4896c640-1"
              x1="0.5"
              y1="8.17"
              x2="23.5"
              y2="8.17"
            ></line>
            <line
              class="cls-6374f8d9b67f094e4896c640-1"
              x1="0.5"
              y1="15.83"
              x2="23.5"
              y2="15.83"
            ></line>
            <line
              class="cls-6374f8d9b67f094e4896c640-1"
              x1="0.5"
              y1="22.54"
              x2="12.96"
              y2="22.54"
            ></line>
          </svg>
          Blog
        </button>
        <button
          role="tab"
          id="notes"
          aria-controls="tab-panel-1"
          aria-selected="false"
        >
          <svg
            id="Layer_1"
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            width="12"
            height="12"
            fill="currentColor"
          >
            <defs>
              <style>
                .cls-6374f8d9b67f094e4896c66c-1 {
                  fill: none;
                  stroke: currentColor;
                  stroke-miterlimit: 10;
                }
              </style>
            </defs>
            <line
              class="cls-6374f8d9b67f094e4896c66c-1"
              x1="0.5"
              y1="9.13"
              x2="23.5"
              y2="9.13"
            ></line>
            <line
              class="cls-6374f8d9b67f094e4896c66c-1"
              x1="0.5"
              y1="14.88"
              x2="13.92"
              y2="14.88"
            ></line>
          </svg>
          Notes
        </button>
        <button
          role="tab"
          id="console"
          aria-controls="tab-panel-3"
          aria-selected="false"
        >
          <svg
            width="12"
            height="12"
            viewBox="0 0 24 24"
            fill="currentColor"
            stroke-width="1.5"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M2 21L12 12L2 3" stroke="currentColor" fill="none"></path>
            <path d="M12 21H22" stroke="currentColor" fill="none"></path>
          </svg>
          Console
          <span class="unread-badge"></span>
        </button>
      </div>

      <div class="tab-panels">
        <div id="tab-panel-2" role="tabpanel" aria-labelledby="blog" hidden>
          <ul class="tab-panel-content">
            {%- assign current_year = '' -%} {%- assign date_format = "%b %-d,
            %Y" -%} {%- for post in posts -%} {%- assign post_year = post.date |
            date: '%Y' -%} {%- if post_year != current_year -%} {%- assign
            current_year = post_year -%} {%- if forloop.first == false -%}
            <div class="year-divider">{{ current_year }}</div>
            {%- endif -%} {%- endif -%}
            <li>
              <a class="link-item" href="{{ post.url | relative_url }}">
                <div class="link-item-left">
                  <span class="post-meta"
                    >{{ post.date | date: date_format }}</span
                  >
                  <span class="post-title-list">{{ post.title | escape }}</span>
                  {% if post.description %}
                  <span class="post-description"
                    >{{ post.description | escape }}</span
                  >
                  {% endif %}
                </div>
              </a>
            </li>
            {%- endfor -%}
          </ul>
        </div>

        <div id="tab-panel-1" role="tabpanel" aria-labelledby="notes" hidden>
          <ul class="tab-panel-content">
            {%- for note in notes -%} {% assign tags = note.tags %}
            <li>
              <a class="link-item" href="{{ note.url | relative_url }}">
                <div class="link-item-left">
                  {% if tags %}
                  <span class="post-tags">
                    {%- for tag in tags -%}
                    <span class="post-tag">
                      {% if tag %} {% assign icon = tag_icons[tag] %} {% if icon
                      %}
                      <img
                        src="/assets/icons/{{ icon }}"
                        alt="{{ tag }} icon"
                      />
                      {% endif %} {{ tag | escape }} {% endif %}
                    </span>
                    {%- endfor -%}
                  </span>
                  {% endif %}
                  <span class="post-title-list">{{ note.title | escape }}</span>
                  {% if note.description %}
                  <span class="post-description">
                    {{ note.description | escape }}
                  </span>
                  {% endif %}
                </div>
              </a>
            </li>
            {%- endfor -%}
          </ul>
        </div>

        <div id="tab-panel-3" role="tabpanel" aria-labelledby="stdout" hidden>
          <ul class="tab-panel-content stdout-log"></ul>
        </div>

        <div id="tab-panel-4" role="tabpanel" aria-labelledby="stdout">
          <ul class="tab-panel-content">
            <section>
              <div class="hero-container">
                <div class="hero">
                  <div class="hero_text-container">
                    <h1>
                      👋🏻 Hi, I'm Karson.
                      <span class="glow"
                      >Software Engineer, UX Advocate, People Person</span
                      >
                    </h1>
                    <p>
                      I create UI experiences for the web that enable
                      organizations to build faster and scale effectively.
                    </p>
                    <button id="my-stack-link" class="button-round"
                    ><span> My Stack </span>
                    <svg
                    width="14"
                    height="14"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                    >
                    <path
                    d="M5 8L12 15L19 8H5Z"
                    transform="rotate(270 12 12)"
                    />
                  </svg>
                </button>
                <div class="github-status-container">
                  <div class="github-dot"></div>
                  <div id="github-status"></div>
                </div>
              </div>
              <figure class="profile-picture">
                <img
                src="/assets/img/profile.jpg"
                alt="Karson Kalt"
                class="profile-picture_img"
                />
              </figure>
            </div>
            <div class="glare"></div>
          </div>
            </section>
            <section style="margin-top: -20px;">
              <div class="gravatar">
                <div class="gravatar-status">
                  <div class="gravatar-status_meta">
                   {{ site.status_updated | date: "%B %-d" }}
                </div>
                  <div class="gravatar-status_status">{{ site.status }}</div>
                  <div class="gravatar-status_all-statuses">View past statuses</div>
                </div>
              </div>
            </section>
            <section>
              <h2>About Me</h2>
              <p>
                Growing up, I was always interested in design and technology. My
                favorite book was
                <a
                  href="https://www.goodreads.com/book/show/304889.The_Way_Things_Work"
                  target="_blank"
                  >The Way Things Work by David Macaulay</a
                >. I loved the illustrations and the way it explained how things
                worked in a simple and fun way. I built toy cars and buildings
                with K-NEX. With a math teacher for a mom and an industrial
                engineer for a dad, I naturally loved the space where
                logic-meets-design.
              </p>
              <p>
                As an engineer, I love building and designing apps for humans.
                Design to me is not "making it pretty", but surfacing the right
                information, to the right person, with the right controls, at
                the right time. Reframing this from an engineering perspective,
                great UX is about the human-API. We naturally process information
                adhering to a set of rules -- and the best interfaces are the ones
                that understand and respect those rules.
              </p>
            </section>
            <section>
              <h2>Work History</h2>
              <p>
                I began my professional career in 2014 working as a store
                manager for Target. After a few very challenging, but very
                rewarding roles, I re-evaluated my career path and attended a
                coding bootcamp at
                <a href="https://www.flatironschool.com/" target="_blank"
                  >Flatiron School</a
                >
                in 2020.
              </p>
              <p>
                In 2021 I joined
                <a href="https://www.jupiterone.com/" target="_blank">
                  JupiterOne</a
                >
                as a Software Engineer focusing on UI in React. After becoming
                more comfortable with the codebase, I began to take on more
                responsibilities. A few projects I worked on include: rolling
                out a design system, upgrading our data viz library, implementing virtualization and data-grid features for query results, assisting
                <a href="https://single-spa.js.org/" target="_blank"
                  >transitioning to a microfrontend architecture </a
                >,
                <a
                  href="https://www.jupiterone.com/blog/get-easy-answers-complex-questions-ai-natural-language-search-jupiterone"
                  target="_blank"
                  >building natural language querying</a
                >, and
                <a
                  href="https://www.jupiterone.com/blog/type-and-go-new-jupiterone-search-bar-enhancements"
                  target="_blank"
                  >overhauling our multi-modal search experience</a
                >.
              </p>
              <p>
                In 2024 I became a Senior Software Engineer at JupiterOne with
                the help of great mentors. Some recent projects I've worked on
                include introducing <a href="https://www.jupiterone.com/blog/introducing-continuous-threat-exposure-management-with-jupiterone-and-watchtowr" target="_blank">
                  continuous threat and exposure management</a> and adding
                  <a href="https://docs.jupiterone.io/features/assets/smart-classes" traget="_blank">
                    smart classes
                  </a>
                    to our query language and data model.
              </p>
              <a class="button-round primary-action" href="/assets/docs/Karson_Kalt_Resume_2024.pdf" target="_blank"
              ><span> My Resume </span>
              <svg
                width="14"
                height="14"
                viewBox="0 0 24 24"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 8L12 15L19 8H5Z"
                  transform="rotate(270 12 12)"
                />
              </svg>
            </a>
            <a class="button-round secondary-action" href="https://www.linkedin.com/in/kaltkarson/" target="_blank"
            ><span> LinkedIn </span>
            <svg
              width="14"
              height="14"
              viewBox="0 0 24 24"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 8L12 15L19 8H5Z"
                transform="rotate(270 12 12)"
              />
            </svg>
          </a>
            </section>
            <section id="my-stack">
              <h2>My Stack</h2>
              <p>
                Here is a short list of things that I use most often when
                starting a new project.
              </p>
              <ul class="stack">
                <li>
                  <a href="https://react.dev/" target="_blank">React</a> for
                  true web apps. I have mixed feelings about the framework but
                  can't argue that there is a large community and ecosystem
                  around it.
                </li>
                <li>
                  <a href="https://www.typescriptlang.org/" target="_blank"
                    >TypeScript</a
                  >. I believe in strong types, especially in an enterprise
                  codebase. And with node now testing running TS, it's a
                  no-brainer.
                </li>
                <li>
                  <a href="https://nodejs.org/en" target="_blank">Node</a> for
                  backends and scripting. I love the ecosystem and the ability
                  to share code between the client and server.
                </li>
                <li>
                  <a
                    href="https://developer.chrome.com/blog/new-in-web-ui-io-2024"
                    target="_blank"
                    >CSS</a
                  >
                  of course for styling. Though I used to use them, I now don't
                  think CSS preprocessors are needed with all of the new
                  developments in CSS. Modern CSS supports design tokens,
                  theming, and handles a lot of interactions that used to be
                  handled by JS.
                </li>
                <li>
                  <a href="http://vanilla-js.com/" target="_blank"
                    >Vanilla JS and Browser APIs</a
                  >. When I can, I try to stick to native web standards do so
                  much cool stuff. Web components, element anchoring, view
                  transitions, nested CSS is super powerful, so I keep it simple
                  if I can.
                </li>
                <li>
                  <a href="https://nextjs.org/" target="_blank">Next.js</a> if I
                  need SSR and infra out of the box. I don't love the pricing
                  model, but getting something spun up quickly is a huge win.
                </li>
                <li>
                  <a href="https://vite.dev/" target="_blank">Vite</a>, it's
                  my favorite build tool.
                </li>
                <li><a href="https://vitest.dev/" target="_blank"></a>Vitest</a> for unit testing. RIP Jest and Mocha, I won't miss you.</li>
                <li><a href="https://www.cypress.io/" target="_blank">Cypress</a> for E2E testing.</li>
                <li><a href="https://aws.amazon.com" target="_blank">AWS</a> for serverless infra and quick horizontal scaling.</li>
                <li>
                  <a href="https://storybook.js.org/" target="_blank"
                    >Storybook and Chromatic</a
                  >
                  for interaction testing, design system libraries, visual
                  regression testing, and as a UI sandbox.
                </li>
              </ul>
              <a class="button-round primary-action" href="https://github.com/karsonkalt" target="_blank"
              ><span> My GitHub </span>
              <svg
                width="14"
                height="14"
                viewBox="0 0 24 24"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 8L12 15L19 8H5Z"
                  transform="rotate(270 12 12)"
                />
              </svg>
            </a>
            </section>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
<div id="console-drawer" class="bottom-drawer">
  <div class="bottom-drawer-content">
    <pre class="terminal ripple-container">
      <span class="system-prompt" aria-hidden="true">$</span>
      <div class="input-container">
        <input type="text" class="prompt" value="" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false">
        <span class="input-mirror"></span>
        <span class="cursor" aria-hidden="true">_</span>
      </div>
    </pre>
  </div>
</div>
<script src="{{ 'assets/js/home.js' | relative_url }}" type="module"></script>
